header  {
    border-bottom: solid #cccccc 2px;
    height: 130px;
}

.head-container {
    /* Set size of header container and center */
    width: 960px;
    height: 130px;
    margin: auto;

    /* This allows the name box to be moved to the bottom of this container */
    position: relative; 

    /* Set header background color */
    background-color: #ffffff;
}

h1  {
    /* Align box with name on the left */
    float: left;
    left: 0px;

    color: #ffffff;
    background-color: #4aaaa5;

    /* Set size as a percentage of head-container */
    width: 25%;
    height: 65%;

    /* Set position to bottom of head-container */
    position: absolute;
    bottom: 0px;

    /* Center text vertically and horizontally */
    text-align: center;
    line-height: 80px;    

    font-size: 28px;
    font-weight: bold;
}

.nav-links  {
    /* Align div with navigation links on the right */
    float: right;
    right: 0px;

    /* Set size as a percentage of head-container */
    width: 35%;
    height: 65%;

    /* Set position to bottom of head-container */
    position: absolute;
    bottom: 0px;

   /* Center text vertically but keep right-aligned */
   text-align: right;
   line-height: 80px;     
   
   font-size: 18px;
}

#about  {
    padding-left: 20px;
    padding-right: 20px;
}

#contact    {
    padding-left: 20px;
}

#portfolio  {
    border-right: solid #777777 1px;
    border-left: solid #777777 1px;
    padding-left: 30px;
    padding-right: 30px;
}

main    {
    background-image: url(rockywall.png);
    height: 900px;
    border-bottom: solid 10px #4aaaa5;
}

.main-container   {
    /* Set width of main container and center */
    clear: both;
    width: 960px;
    border: solid #dddddd 1px;
    margin: auto;

    /* Set main background color */
    background-color: #ffffff;

    position: relative;
    top: 40px;

    padding-left: 20px;
    padding-right: 20px;
}

h2  {
    font-size: 28px;
    font-weight: bold;
    color: #4aaaa5;
    padding-top: 25px;
    padding-bottom: 30px;
    border-bottom: solid #cccccc;
}

#profilepic {
    float: left;
    width: 275px;
    height: 250px;
    padding: 20px;
}

#p1, #p2, #p3   {
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
}

footer {
    /* Clear floats */
    clear: both;

    text-align: center;

    /* Set footer background color */
    background-color: #666666;

    padding-top: 60px;

    font-size: 18px;
    color: #cccccc;
}

h1, h2  {
    /* Set Heading font styles */
    font-family: Georgia, 'Times New Roman', Times, serif
}

.head-container, .main-container, a {
    /* Set regular font color */
    color: #777777;

    /* Set regular font family */
    font-family: Arial, Helvetica, sans-serif;
}

a   {
    /* Remove underlines from anchor text */
    text-decoration: none;
}

.personal, #personal-img, .webapps, #webapps-img, .rpg, #rpg-img, .birding, #birding-img, .movies, #movies-img   {
    width: 300px;
    height: 200px;
    position: relative;
    padding: 20px;
    text-align: center;
    float: left;
}

#personal, #webapps, #rpg, #birding, #movies   {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #ffffff;
    background-color: #4aaaa5;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 22px;
    width: 300px;
}

button  {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

#name, #email, #message {
    padding: 5px;
    width: 100%;
}



@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768) {
    .main-container {
        float: right;        
        position: relative;
    }
}

@media screen and (max-width: 640) {
    .head-container  {
        position: static;
    }

    .main-container {
        float: right;
        position: relative;
    }
}